.hidden {
  display: none;
}
.paginationBttns {
  margin-top: 1rem;
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.paginationBttns a {
  padding: 0.5rem 0.8rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
}
.paginationBttns a:hover {
  color: black;
  background: #4a5568;
}
.paginationActive a {
  color: black;
  background: #fff;
}
.paginationDisabled a {
  color: salmon;
  background: #718096;
}
